In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [7]:
data=pd.read_csv('data/Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))


# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']


## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [13]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [14]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\hsingh\OneDrive - INVIDI Technologies Corp\machine learning\machine-learning\myenv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\hsingh\OneDrive - INVIDI Technologies Corp\machine learning\machine-learning\myenv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [16]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [17]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\hsingh\OneDrive - INVIDI Technologies Corp\machine learning\machine-learning\myenv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\hsingh\OneDrive - INVIDI Technologies Corp\machine learning\machine-learning\myenv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 5s 9ms/step - loss: 100375.7734 - mae: 100375.7734 - val_loss: 98507.3906 - val_mae: 98507.3906
Epoch 2/100
250/250 [==============================] - 1s 6ms/step - loss: 99578.5234 - mae: 99578.5234 - val_loss: 96880.9062 - val_mae: 96880.9062
Epoch 3/100
250/250 [==============================] - 2s 7ms/step - loss: 96755.4922 - mae: 96755.4922 - val_loss: 92722.3828 - val_mae: 92722.3828
Epoch 4/100
250/250 [==============================] - 3s 10ms/step - loss: 91219.3672 - mae: 91219.3672 - val_loss: 85827.2656 - val_mae: 85827.2656
Epoch 5/100
250/250 [==============================] - 4s 14ms/step - loss: 83196.9531 - mae: 83196.9531 - val_loss: 77006.1875 - val_mae: 77006.1875
Epoch 6/100
250/250 [==============================] - 3s 13ms/step - loss: 73891.1562 - mae: 73891.1562 - val_loss: 68016.1406 - val_mae: 68016.1406
Epoch 7/100
250/250 [==============================] - 4s 15ms/step - loss: 65071.7773 - mae: 65071.7773 - val_loss: 60375.5195 - val_mae: 60375.5195
Epoch 8/100
250/250 [==============================] - 2s 8ms/step - loss: 58228.7852 - mae: 58228.7852 - val_loss: 55105.6523 - val_mae: 55105.6523
Epoch 9/100
250/250 [==============================] - 2s 9ms/step - loss: 53989.8828 - mae: 53989.8828 - val_loss: 52272.1250 - val_mae: 52272.1250
Epoch 10/100
250/250 [==============================] - 2s 7ms/step - loss: 51863.5469 - mae: 51863.5469 - val_loss: 51142.0742 - val_mae: 51142.0742
Epoch 11/100
250/250 [==============================] - 2s 7ms/step - loss: 50928.5703 - mae: 50928.5703 - val_loss: 50709.6797 - val_mae: 50709.6797
Epoch 12/100
250/250 [==============================] - 2s 8ms/step - loss: 50545.3281 - mae: 50545.3281 - val_loss: 50595.6992 - val_mae: 50595.6992
Epoch 13/100
250/250 [==============================] - 2s 7ms/step - loss: 50370.8086 - mae: 50370.8086 - val_loss: 50541.4648 - val_mae: 50541.4648
Epoch 14/100
250/250 [==============================] - 3s 12ms/step - loss: 50264.4062 - mae: 50264.4062 - val_loss: 50506.7539 - val_mae: 50506.7539
Epoch 15/100
250/250 [==============================] - 2s 9ms/step - loss: 50197.6250 - mae: 50197.6250 - val_loss: 50471.9336 - val_mae: 50471.9336
Epoch 16/100
250/250 [==============================] - 2s 8ms/step - loss: 50145.2344 - mae: 50145.2344 - val_loss: 50429.5391 - val_mae: 50429.5391
Epoch 17/100
250/250 [==============================] - 2s 9ms/step - loss: 50096.3594 - mae: 50096.3594 - val_loss: 50407.0469 - val_mae: 50407.0469
Epoch 18/100
250/250 [==============================] - 2s 8ms/step - loss: 50056.7305 - mae: 50056.7305 - val_loss: 50361.6797 - val_mae: 50361.6797
Epoch 19/100
250/250 [==============================] - 1s 6ms/step - loss: 50022.2305 - mae: 50022.2305 - val_loss: 50353.5547 - val_mae: 50353.5547
Epoch 20/100
250/250 [==============================] - 2s 6ms/step - loss: 49983.9531 - mae: 49983.9531 - val_loss: 50333.4531 - val_mae: 50333.4531
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 49954.9570 - mae: 49954.9570 - val_loss: 50315.8516 - val_mae: 50315.8516
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 49927.6797 - mae: 49927.6797 - val_loss: 50311.6094 - val_mae: 50311.6094
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 49897.7266 - mae: 49897.7266 - val_loss: 50302.8281 - val_mae: 50302.8281
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 49874.8672 - mae: 49874.8672 - val_loss: 50280.0156 - val_mae: 50280.0156
Epoch 25/100
250/250 [==============================] - 2s 8ms/step - loss: 49846.3945 - mae: 49846.3945 - val_loss: 50276.0898 - val_mae: 50276.0898
Epoch 26/100
250/250 [==============================] - 1s 6ms/step - loss: 49823.9883 - mae: 49823.9883 - val_loss: 50262.8477 - val_mae: 50262.8477
Epoch 27/100
250/250 [==============================] - 2s 10ms/step - loss: 49802.9961 - mae: 49802.9961 - val_loss: 50255.5977 - val_mae: 50255.5977
Epoch 28/100
250/250 [==============================] - 3s 12ms/step - loss: 49782.8008 - mae: 49782.8008 - val_loss: 50245.0469 - val_mae: 50245.0469
Epoch 29/100
250/250 [==============================] - 2s 9ms/step - loss: 49764.3555 - mae: 49764.3555 - val_loss: 50229.9062 - val_mae: 50229.9062
Epoch 30/100
250/250 [==============================] - 3s 13ms/step - loss: 49743.7695 - mae: 49743.7695 - val_loss: 50227.8867 - val_mae: 50227.8867
Epoch 31/100
250/250 [==============================] - 3s 13ms/step - loss: 49729.9805 - mae: 49729.9805 - val_loss: 50213.3438 - val_mae: 50213.3438
Epoch 32/100
250/250 [==============================] - 2s 7ms/step - loss: 49713.3828 - mae: 49713.3828 - val_loss: 50201.9570 - val_mae: 50201.9570
Epoch 33/100
250/250 [==============================] - 1s 6ms/step - loss: 49698.2266 - mae: 49698.2266 - val_loss: 50208.6680 - val_mae: 50208.6680
Epoch 34/100
250/250 [==============================] - 1s 6ms/step - loss: 49683.6680 - mae: 49683.6680 - val_loss: 50202.4844 - val_mae: 50202.4844
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49669.2148 - mae: 49669.2148 - val_loss: 50196.8594 - val_mae: 50196.8594
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49655.1289 - mae: 49655.1289 - val_loss: 50201.5312 - val_mae: 50201.5312
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49645.0664 - mae: 49645.0664 - val_loss: 50201.3672 - val_mae: 50201.3672
Epoch 38/100
250/250 [==============================] - 2s 8ms/step - loss: 49630.6797 - mae: 49630.6797 - val_loss: 50188.7031 - val_mae: 50188.7031
Epoch 39/100
250/250 [==============================] - 1s 6ms/step - loss: 49618.8320 - mae: 49618.8320 - val_loss: 50193.8828 - val_mae: 50193.8828
Epoch 40/100
250/250 [==============================] - 1s 5ms/step - loss: 49607.1680 - mae: 49607.1680 - val_loss: 50199.1211 - val_mae: 50199.1211
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49601.7852 - mae: 49601.7852 - val_loss: 50202.1289 - val_mae: 50202.1289
Epoch 42/100
250/250 [==============================] - 1s 5ms/step - loss: 49589.5039 - mae: 49589.5039 - val_loss: 50207.1172 - val_mae: 50207.1172
Epoch 43/100
250/250 [==============================] - 1s 5ms/step - loss: 49578.6641 - mae: 49578.6641 - val_loss: 50209.5586 - val_mae: 50209.5586
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49571.5898 - mae: 49571.5898 - val_loss: 50216.6094 - val_mae: 50216.6094
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 49561.9570 - mae: 49561.9570 - val_loss: 50224.5938 - val_mae: 50224.5938
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49554.1602 - mae: 49554.1602 - val_loss: 50221.8008 - val_mae: 50221.8008
Epoch 47/100
250/250 [==============================] - 1s 5ms/step - loss: 49543.4023 - mae: 49543.4023 - val_loss: 50227.7305 - val_mae: 50227.7305
Epoch 48/100
250/250 [==============================] - 1s 5ms/step - loss: 49535.6914 - mae: 49535.6914 - val_loss: 50214.7266 - val_mae: 50214.7266

In [20]:
%load_ext tensorboard

In [22]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 20812), started 0:00:08 ago. (Use '!kill 20812' to kill it.)

In [18]:
## Evaluate the model on the test data

test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50188.7031 - mae: 50188.7031
Test MAE: 50188.703125

In [19]:
model.save('regression_model.h5')

c:\Users\hsingh\OneDrive - INVIDI Technologies Corp\machine learning\machine-learning\myenv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(